

<footer class="border-top footer text-white bg-primary">
    <div class="container">
        &copy; 2021 - Taste - <!--<a asp-area="" asp-page="/Privacy" class="text-white">Privacy</a>-->
    </div>
</footer>

@code {

}
