@inherits LayoutComponentBase


<div class="page">
    <div class="main">
        <Header></Header>
        <div class="container content px-4 pb-5 mb-5">
            @Body
            <BlazoredToasts />
        </div>
        <Footer></Footer>
    </div>
</div>







